.containerCard{
    width: 100%;
    background-color: white;
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    justify-content: space-around;
}
.infoCard{
    width: 100%;
    background-color: white;
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    justify-content: space-around;
}

.actionCard{
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 1rem;
}

.actionCard button:hover{
    cursor: pointer;
}
.iconsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .icon {
    font-size: 18px;
    cursor: pointer;
    color: black; /* Puedes ajustar el color */
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: #0056b3; /* Color al pasar el cursor */
  }
  .sendBackLogButton{
    background-color: #226C52; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 30%;
  }